<div>
    <div mat-dialog-title class="accept-mat-title-main">
        <div class="p-15 bg-info col l11 accept-mat-title">
            <h5 class="card-title m-b-0 white-text">Rules & Regulations</h5>
        </div>


        <div mat-dialog-close class="col l1 accept-mat-icon" style="margin-top: 5px;">
            <a class="btn-floating modal-close waves-effect waves-light blue" tabindex="0" (keydown.enter)="dialogClose()" (click)="dialogClose()">
                <i class="material-icons">close</i>
            </a>
        </div>
    </div>
    <div mat-dialog-content class="mt20">
        <h4>Dummy Text</h4>

        <p>These Terms of Service reflect the way that Google’s business works, the laws that apply to our company, and certain things that we’ve always believed to be true. As a result, these Terms of Service help define Google’s relationship with you as
            you interact with our services. For example, these terms include the following topic headings:</p>

        <p>What you can expect from us, which describes how we provide and develop our services What we expect from you, which establishes certain rules for using our services
        </p>

        <p>Content in Google services, which describes the intellectual property rights to the content that you find in our services – whether that content belongs to you, Google or others</p>

        <p>In case of problems or disagreements, which describes other legal rights that you have, and what to expect in case someone violates these terms.</p>

        <p>Understanding these terms is important because, by using our services, you’re agreeing to these terms.</p>
    </div>
</div>