<div class="main-wrapper">
    <app-loader></app-loader>
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center imageHolder">
        <div class="container">
            <div class="row">
                <div class="col s12 l8 m6 demo-text">
                    <span class="db"><img src="assets/images/logo-new.svg" width="75" alt="logo" /></span>
                    <h1 class="font-light white-text m-t-40">Thanks for choosing Abbrevia8</h1>
                    <p class="grey-text">Our platform provides you the collaborative tools needed to manage, and maintain your entire document drafting process in a single workspace.</p>
                </div>
            </div>
            <div class="auth-box auth-sidebar">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>