<div class="row">

    <div mat-dialog-actions class="col l12 fileNameform">
        <div class="fileNameInput">
            <mat-form-field class="form-full-width">
                <mat-label>File Name:</mat-label>
                <input matInput name="fileName" [(ngModel)]="fileName" required>
            </mat-form-field>
        </div>
        <div class="fileNameBtn">
            <button class="merge-btn btn btn-round right m-b-10 btn-primary" (click)="save()">Save</button>
            <button class="merge-btn btn btn-round right m-b-10 m-r-10 btn-primary" (click)="cancel()">Cancel</button>
        </div>
    </div>

    <div mat-dialog-content class="col l12 createDoc">
        <div class="document-editor">
            <div class="document-editor__toolbar"></div>
            <div class="document-editor__editable-container">
                <div class="document-editor__editable">
                </div>
            </div>
        </div>
    </div>

</div>