/* .row .col.s1 {
    margin-left: revert !important;
} */

.col {
    flex-grow: revert !important;
}

.m-t-10{
    margin-top: 10px !important;
}

.row .col .s9{
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col{
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}


/* .container-fluid {
    padding: 20px 0px !important;
    background-color: #fff !important;
} */

.cus-card {
    display: revert !important;
}

.doc-ver-sec {
    display: inline;
    position: absolute;
    margin-left: 10px;
    line-height: 18px;
}

.doc-ver-file {
    font-weight: 600;
    font-size: 16px;
}

.doc-list-file {
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.doc-ver-name {
    font-size: 12px;
}

.doc-folder-icon {
    font-size: 25px;
    color: #225de7;
}

.doc-list-sec {
    display: inline;
    position: absolute;
    margin-left: 15px;
    line-height: 19px;
}

.doc-list {
    /* width: 85%; */
    padding: 25px 10px 25px 10px;
    border-bottom: 1px solid #e7e8ea;
    cursor: pointer;
}

.doc-list-name {
    font-size: 11px;
}

.bg-white {
    background-color: #ffff;
}

.bor-none {
    border: none;
}

.doc-list-hea-sec {
    border-bottom: 1px solid #e7e8ea;
    padding-bottom: 10px;
    width: 90%;
}

.doc-select {
    background-color: #f6f7f9;
}

.doc-edit-icon {
    float: right;
    color: green;
    font-size: 12px;
    margin-top: 10px;
    /* margin-right: 10px; */
}

@media (max-width: 768px) {
    .row .col.s3 {
        width: 100%;
    }
    .row .col.s6 {
        width: 100%;
    }
    .breadcrump-sec {
        display: inline-block !important;
    }
}


/* @media (max-width: 568px) {
    .doc-edit-icon {
        margin-right: 0px;
    }
} */

.doc-folder-sec {
    padding: 20px 10px 10px 0px;
}

.breadcrump-sec {
    display: block;
}

.pt80 {
    padding-top: 80px !important;
}

.pt60 {
    padding-top: 60px !important;
}

.p15-d0 {
    padding: 15px 15px 0px 15px;
}

.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);
    /* Set vertical boundaries for the document editor. */
    max-height: 760px;
    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}

.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;
    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0, 0%, 0%, .2);
    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}


/* Adjust the look of the toolbar inside the container. */

.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}


/* Make the editable container look like the inside of a native word processor application. */

.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large));
    background: var(--ck-color-base-foreground);
    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    /* width: 15.8cm; */
    min-height: 21cm;
    /* Keep the "page" off the boundaries of the container. */
    /* padding: 1cm 2cm 2cm; */
    padding: 0.5cm 1cm;
    border: 1px hsl( 0, 0%, 82.7%) solid;
    border-radius: var(--ck-border-radius);
    background: white;
    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0, 0%, 0%, .1);
    /* Center the "page". */
    margin: 0 auto;
}


/* Set the default font for the "page" of the content. */

.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Adjust the headings dropdown to host some larger heading styles. */

.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base));
    min-width: 6em;
}


/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */

.document-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
}


/* Set the styles for "Heading 1". */

.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
    font-size: 2.18em;
    font-weight: normal;
}

.document-editor .ck-content h2 {
    line-height: 1.37em;
    padding-top: .342em;
    margin-bottom: .142em;
}


/* Set the styles for "Heading 2". */

.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
    font-size: 1.75em;
    font-weight: normal;
    color: hsl( 203, 100%, 50%);
}

.document-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
    color: var(--ck-color-list-button-on-text);
}


/* Set the styles for "Heading 2". */

.document-editor .ck-content h3 {
    line-height: 1.86em;
    padding-top: .171em;
    margin-bottom: .357em;
}


/* Set the styles for "Heading 3". */

.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
    font-size: 1.31em;
    font-weight: bold;
}

.document-editor .ck-content h4 {
    line-height: 1.24em;
    padding-top: .286em;
    margin-bottom: .952em;
}


/* Set the styles for "Paragraph". */

.document-editor .ck-content p {
    font-size: 1em;
    line-height: 1.63em;
    padding-top: .5em;
    margin-bottom: 1.13em;
}


/* Make the block quoted text serif with some additional spacing. */

.document-editor .ck-content blockquote {
    font-family: Georgia, serif;
    margin-left: calc( 2 * var(--ck-spacing-large));
    margin-right: calc( 2 * var(--ck-spacing-large));
}


/* ::ng-deep .ck-content {
    height: 35rem;
    overflow: scroll;
} */

::ng-deep .document-editor .ck-content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

::ng-deep .document-editor .ck-content ul li {
    list-style-type: disc;
}

::ng-deep .document-editor .ck-content strong {
    font-weight: bolder !important;
}

/* Chat Basic style */

.chat-body .answer {
    max-width: 80% !important;
    clear: both;
}

.chat-body .chat-content {
    padding-left: 10px;
}

.chat-body .name{
    padding: 5px;
    display: -webkit-inline-box;
}

.chat-body .answer .text {
    width: fit-content;
    margin-bottom: 3px;
    color: #343a40;
    background: #f8f9fa;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 10px;
    left: 30px;

}

.chat-body .answer .time {
    color: #5b616e;
    font-size: 10px;
    position: relative;
    padding-bottom: 1px;
    left: 30px;
}

.chat-body .answer .rightChat-text {
    width: fit-content;
    margin-bottom: 3px;
    color: #343a40;
    background: #f8f9fa;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    position: relative;
    padding: 10px;
}

.chat-body .answer .rightChat-time {
    color: #5b616e;
    font-size: 10px;
    position: relative;
    padding-bottom: 1px;
}


/*Chat Left Side */

.chat-body .answer.leftChat {
    text-align: left;
    float: left;
}

.chat-body .answer.answer.leftChat .chat-img {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
    background-color: salmon;
    text-align: center;
    border-radius: 50px;
    color: White;
    font-size: 14px;
    padding: 5px;    
} 


/*Chat Right Side */

.chat-body .answer.rightChat {
    text-align: right;
    float: right;
}

.chat-body .answer.answer.rightChat .chat-img {
    vertical-align: top;
}

.rightChat {
    padding: 0 10px 0 0;
    text-align: left;
    float: right;
}

.list {
    height: 677px;
    overflow-y: scroll;
}

.doc-loader {
    width: 86%;
    height: 77%;
    top: 15%;
    position: absolute;
    z-index: 99999;
    background: #fff;
}

.doc-loader .loader .loader__label {
    margin-left: 50% !important;
    margin-top: 25% !important;
}

:host ::ng-deep .you {
    border: solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: antiquewhite;
}

:host ::ng-deep .bot {
    border: solid black;
    border-radius: 10px;
    padding: 2px;
    background-color: aliceblue;
}

.search-sec {
    border-radius: 5px;
    /* padding: -22px; */
    /* width: 20%; */
    /* height: 42px; */
    /* position: absolute; */
    /* margin-top: 10px; */
    display: flex;
    /* right: 120px;*/
}
.search-icon {
    font-size: 1.8rem;
    display: inline;
    /* text-align: right; */
    /* top: -12px; */
    right: 15px;
    position: absolute;
    color: #113895;
}

.search-input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000;
    padding-left: 25px;
}

.search-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1;
}

.search-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1;
    padding-left: 25px;
}

.search-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
    padding-left: 5px;
}
.search-input {
    /* width: 90% !important;
    border: none !important;
    font-size: 14px !important;
    height: 35px !important;
    color: #000000 !important;
    background-color: #f5f5f5 !important;
    margin-bottom: 0px !important;
    padding: 2px!important;
    margin-left: 10px!important; */
    border-radius: 10px !important;
}



.chatbox {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    /* input[type="text"]:focus{
          border: 0;
      } */
  }
  
  .chatbox__icon {
    color: #3965d7 !important;
    z-index: 9999;
    position: fixed;
    right: 100px;
    bottom: 1rem;
    margin-left: -15px;
    font-size: 2rem;
  }
  
  .chatbox__icon:hover {
    color: #000;
  }
  
  .chatbox__window {
    width: 22rem;
    height: 40rem;
    background-color: #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0 4px 16px #BCB9B9;
            box-shadow: 0 4px 16px #BCB9B9;
    display: none;
    position: fixed;
    z-index: 99999;
    right: 98px;
    bottom: 4rem;
    font-family: 'Poppins', sans-serif;
  }

  .chatbox__msgbox {
    border: 0 !important;
    outline: 0 !important;
    color: #000 !important;
    font-family: 'Poppins', sans-serif;
    padding: 1rem !important;
    width: 80% !important;
  }
  
  .chatbox__top {
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  
  .chatbox__avatarimg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  
  .chatbox__name {
    width: 70%;
  }
  
  .chatbox__namepara {
    font-weight: 600;
    font-size: 1.20rem;
  }
  
  .chatbox__status {
    font-size: 0.80rem;
  }
  
  .chatbox__closeicon {
    font-size: 2rem;
    color: #000;
    margin-left: 25px;
    cursor: pointer;
  }
  
  .chatbox__message {
    background-color: #f2f2f2;
    /* width: 90%; */
    height: 74%;
    padding: 5%;
    overflow-y: scroll;
  }
  
  .chatbox__typing {
    margin: 0 auto;
  }
  
  .chatbox__window input[type="text"] {
    border: 0;
    outline: 0;
    color: #000;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    width: 80%;
  }
  
  .chatbox__window input[type="text"]::-webkit-input-placeholder {
    color: #BCB9B9;
  }
  
  .chatbox__window input[type="text"]:-ms-input-placeholder {
    color: #BCB9B9;
  }
  
  .chatbox__window input[type="text"]::-ms-input-placeholder {
    color: #BCB9B9;
  }
  
  .chatbox__window input[type="text"]::placeholder {
    color: #BCB9B9;
  }
  
  .chatbox__sendbtn {
    font-weight: 600;
    color: #BCB9B9;
  }
  
  .chatbox__botmsg, .chatbox__usermsg {
    background-color: #fff;
    padding: 0.70rem;
    font-size: 0.80rem;
    border-radius: 20px 20px 20px 5px;
    width: 60%;
    clear: right;
    margin: 0.50rem 0;
  }
  
  .chatbox__usermsg {
    background-color: #1E6FF9;
    color: #fff;
    border-radius: 20px 20px 5px 20px;
    float: right;
    padding: 0.70rem;
    margin: 1rem 0;
    clear: both;
  }

  button.btn-floating {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  @media (min-width: 420px){
    .chat-container {
        height: calc(((100% - 30px) - 90px) - 60px);
        min-height: 140px;
        position: fixed;
        top: initial;
        left: initial;
        bottom: 90px;
        right: 95px;
        box-shadow: rgb(24 53 88 / 15%) 0px 6px 35px 1px;
        width: 24rem;
        max-height: 680px;
        border-radius: 3px 3px 0px 0px;
    }
    .chat-header {
        width: 100%;
        position: absolute;
    }
    .chat-header-container{
        border-radius: 3px 3px 0px 0px;
    }
    .welcome-screen-header-title{
        font-size: 22px;
    }
      }
      .chat-container {
        display: flex;
        /* font-family: "Brandon Text", Lato, -apple-system; */
        /* -webkit-font-smoothing: antialiased; */
        box-sizing: border-box;
        backface-visibility: hidden;
        background: rgb(255, 255, 255);
        z-index: 2000;
        /* overflow: hidden auto; */
    }
    .chat-header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 2000;
    }
    .chat-header-container{
        transition: height 400ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        box-shadow: rgb(24 53 88 / 10%) 0px 6px 13px 1px;
        background-color: #232f3e;
        place-content: center;
        -webkit-box-pack: center;
        display: flex;
        height: 140px;
        padding: 0px;
        user-select: none;
        position: absolute;
        overflow: hidden;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    .welcome-screen-header-container{
        width: 100%;
        top: 20px;
        position: absolute;
        left: 0px;
        padding: 0px 20px;
    }
    .welcome-screen-header{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .welcome-screen-header-title{
        display: flex;
        margin: 20px 0px 0px;
        margin-bottom: 24px;
        font-size: 18px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-transform: capitalize;
    }
    .header-textbox-container{
        display: flex;
        width: 100%;
        border-top: solid 1px;
        /* background: rgb(255, 255, 255); */
        /* background: #232f3e; */
        border-radius: 3px;
        padding: 6px 10px 6px 30px;
        pointer-events: auto;
        opacity: inherit;
    }
    .input-container{
        display: flex;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .input-textarea{
        height: 28px;
        border: none;
        background: none;
        vertical-align: middle;
        min-height: 24px;
        color: rgb(24, 53, 88);
        /* color: #fff; */
        width: 100%;
        outline: none;
        font-size: 16px;
        resize: none;
        overflow-y: hidden;
        appearance: none;
        font-family: inherit;
        margin-top: 4px;
    }
    .input-btn{
        border: 0px;
        background: transparent;
        border-radius: 3px;
        box-sizing: border-box;
        outline: none;
        display: flex;
        -webkit-box-flex: 0;
        flex-grow: 0;
        padding: 0px;
        cursor: pointer;
    }
    
    
    
    .chat-close-icon {
        cursor: pointer;
        margin-top: .7rem;
    }
    .welcome-screen{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #f2f2f2;
    }
    .popular-topics{
        padding: 0px 24px;
        padding-bottom: 20px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        overflow: auto;
    }
    .welcome-content{
        /* margin-top: 200px;
        height: calc(100% - 200px); */
        margin-top: 140px;
        height: calc(100% - 140px);
    }
    .chat-container div, .chat-container * {
        box-sizing: border-box;
        backface-visibility: hidden;
    }
    .chat-wrapper{
        display: none;
    }
