<div id="loginform" class="login-form">
    <div class="p-l-10">
        <h5 class="font-medium m-b-0 m-t-40" [ngClass]="{'text-center': !isTokenValid, '':isTokenValid }">Reset Password</h5>

    </div>
    <!-- Form -->
    <div class="row" *ngIf="isTokenValid">
        <form class="col s12" [formGroup]="resetFormGroup" autocomplete="off" #form="ngForm">
            <!-- New Password -->
            <div class="row"><br>
                <div class="col s12 m-t-25">
                    <mat-form-field class="form-full-width">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPwd" name="newPwd" required>
                        <button *ngIf="resetForm.newPwd.value" class="view-password-icon" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                        <div *ngIf="(resetForm?.newPwd.dirty || submitted) && resetForm?.newPwd.invalid">
                            <mat-error class="errorMsg" *ngIf="resetForm?.newPwd.hasError('pattern')">
                                Password must contain at least 1 uppercase, 1 lowercase, 1 digit, 1 special character and length from 6 to 16
                            </mat-error>
                            <mat-error class="errorMsg" *ngIf="resetForm?.newPwd.hasError('required')">
                                New Password is <strong>required</strong>
                            </mat-error>
                            <mat-error class="errorMsg" *ngIf="resetForm?.newPwd.hasError('maxlength')">
                                Please enter less than 16 letters !!
                            </mat-error>
                        </div>

                    </mat-form-field>
                </div>
            </div>
            <!-- Confirm Password -->
            <div class="row"><br>
                <div class="col s12 m-t-25">
                    <mat-form-field class="form-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPwd" name="confirmPwd" required>
                        <button *ngIf="resetForm.confirmPwd.value" class="view-password-icon" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                        <div *ngIf="(resetForm?.confirmPwd.dirty || submitted) && resetForm?.confirmPwd.invalid">
                            <mat-error class="errorMsg" *ngIf="resetForm?.confirmPwd.hasError('required')">
                                Confirm Password is <strong>required</strong>
                            </mat-error>
                        </div>
                        <div *ngIf="(resetForm.confirmPwd.touched && resetForm.confirmPwd.invalid)">
                            <mat-error class="errorMsg" *ngIf="resetForm.confirmPwd.errors.confirmedValidator">
                                Password and Confirm Password must match.
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="row m-t-40">
                <div *ngIf="errors" class="invalid-feedback err-msg-sec d-block">{{errors}} </div>
                <div class="col s12 ">
                    <button class="btn-large w100 btn-primary" type="submit" id="validate" (click)="onSubmit(form)">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="!isTokenValid">
        <div class="center-align m-t-20">
            <a href="javascript:void(0)" class=" btn-floating btn-large bg-red m-t-10">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="center-align m-t-30 db" [ngClass]="{'forgotInvalidMsg': !isSuccPwdChg, 'forgotSuccMsg':isSuccPwdChg }">
            {{infoMsg}}</div>

        <div class="row m-t-40">
            <div class="col s12 ">
                <button class="btn-large w100 btn-primary" type="button" id="validate" (click)="home()">Go to
          Home&nbsp;</button>
            </div>
        </div>
    </div>
</div>