<div class="row">

    <div class="col l12">
        <button class="merge-btn btn right m-b-10 btn-primary" style="color: #ffff;width: 15%;" (click)="save()">
            <!-- <i class="material-icons left">save</i> -->
            Save</button>
        <button class="merge-btn btn right m-b-10 m-r-10 btn-primary" style="color: #ffff;width: 15%;"
            (click)="cancel()">
            <!-- <i class="material-icons left">cancel</i> -->
            Cancel</button>
    </div>

    <div class="col l12">
        <div class="document-editor">
            <div class="document-editor__toolbar"></div>
            <div class="document-editor__editable-container">
                <div class="document-editor__editable">
                    <div [innerHTML]="data.document"></div>
                </div>
            </div>
        </div>
    </div>

</div>