<div id="loginform" class="login-form">
    <div class="p-l-10">
        <h5 class="font-medium m-b-0 m-t-40">Forgot Password</h5>

    </div>
    <!-- Form -->
    <div class="row">
        <form class="col s12" [formGroup]="resetFormGroup" autocomplete="off" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <!-- Email -->
            <div class="row"><br>
                <div class="col s12 m-t-25">
                    <mat-form-field class="form-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" name="email" [(ngModel)]="email" required>
                        <div *ngIf="(resetForm?.email.dirty || submitted) && resetForm?.email.invalid">
                            <mat-error class="errorMsg" *ngIf="resetForm?.email.hasError('pattern')">
                                Please enter a valid Email
                            </mat-error>
                            <mat-error class="errorMsg" *ngIf="resetForm?.email.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="row m-t-40">
                <div *ngIf="errors" class="invalid-feedback err-msg-sec d-block">{{errors}} </div>
                <div class="col s12 ">
                    <button class="btn-large w100 btn-primary" type="submit" id="validate">Send Password Link</button>
                </div>
            </div>
        </form>
    </div>
</div>