.acceptance{
    color: #007bff !important;
  }
.errorMsg{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: normal;
    color: red;
  }
